
/* Main style*/
body
{
    font-family: 'Roboto', sans-serif;
    background: #262533;
    color: #8f8f8f;
    margin: 0;
    padding: 0;
}

/* main modification of header*/
header
{
    position: absolute;
    top: 0;
    left: 0;
    padding:0 100px;
    background-color: #f9cc41;
    width: 100%;
    box-sizing: border-box;
}

/* header logo modification*/
header .logo
{
    background-image: url("/Images/logos/MyProLogo.png");
    background-size: 120px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position-x: -20px;
    background-position-y: -15px;
    height: 47.5px;
    width: 75px;
    float: right;
}

/* header navigation modification*/
header nav
{
    float: left;
}
header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li
{
    list-style: none;
}
header nav ul li a
{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #262533;
    text-decoration:none;
    display: block;
    font-weight: bold;
   text-transform: capitalize;
}
.menu-toggle
{
    color: black;
    float: left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Profile style */
.profilePic
{
    background: #262533 ;
    background-image: url("/Images/newSoloLogoPicFinal.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    background-position-y: 85px;
    height: 600px;
    text-indent: -9999px;
}

/* Bio style */
.profileBio div
{
    background: #262533 ; 
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.profileBio p
{
    font-size: 0.875rem;
    font-weight: 400;
    color: #8f8f8f;
    text-align: center;
}
.profileBio h1
{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.625rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
.profileBio .pSpace
{
    opacity: 0%;
}
.profileBio h1 br
{ 
        display: block; 
        margin-bottom: 0.5em; 
} 
.profileBio .pOne br
{ 
        display: block;
        margin-bottom: -1em; 
}

/* footer style */
footer
{
    text-align: center;
    height: 33px;
    background: #0f102a;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0px;
}
footer li
{
    display: inline-block;
    margin-right: 40px;
}
footer .gitlogo a
{
    background-image: url("/Images/logos/GithubWorkWhite.png");
    background-size: 90px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-position-y: 5px;
    background-position-x: -6.5px;
    height: 33px;
    width: 75px;
}
footer .linklogo a
{
    background-image: url("/Images/logos/LinkedinWhite.png");
    background-size: 90px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    background-position-x: -6.6px;
    background-position-y: 5px;
    height: 33px;
    width: 75px;
}

.resumebox
{
    
    margin-top: 50px;
    height: 525px;
    width: 100%;
}
.resumebox div
{
    position: relative;
    top: 150px;
    text-align: center;
}
.fas
{
    color:#f9cc41;
    font-size: 150px;
}
.resumebox div a
{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.625rem;
    text-decoration:none;
    color:white;
}
/* ------------------------------------------> 
   ------------------------------------------> 
   hovering style 
   ------------------------------------------> 
   ------------------------------------------> */

/* navigation hovering style */
header nav ul li a:hover,
header nav ul li a.active
{
    transition: 0.5s;
    color:#f9cc41;
    background-color: #262533 ;
}

/* Bio hovering style */
.profileBio:hover 
{
    color:#262533;
    background-color: #f9cc41;
}
.profileBio:hover .box 
{
    color:#262533;
    background-color: #f9cc41;
}
.profileBio:hover .box .head 
{
    transition: 0.25s;
    color:#262533;
    background-color: #f9cc41;
}
.profileBio:hover .box .pOne 
{
    transition: 0.35s;
    color:#262533;
    background-color: #f9cc41;
}
.profileBio:hover .box .pTwo
{
    transition: 0.5s;
    color:#262533;
    background-color: #f9cc41;
}

/* ------------------------------------------> 
   ------------------------------------------> 
   Styles based on screen 
   ------------------------------------------> 
   ------------------------------------------> */

/* Browser style*/
@media screen and (max-width: 1120px)
{
    header
    {
        padding:0 20px;
    }
   
    .menu-toggle
    {
        display: block;
    }
    header nav
    {
        position: absolute;
        width: 100%;
        height: calc(150vh - 50px);
        background: #262533;
        top: 50px;
        left: -100%;
        transition: 1s;
    }
    header nav.active
    {
        left: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }
    header nav ul li a
    {
        border-bottom: 1px solid rgba(0,0,0,.2);
        color: #f9cc41;
    }
    header nav ul li a:hover,
    header nav ul li a.active
    {
        transition: 0.5s;
        color:#262533;
        background-color: #f9cc41;
    }
}

/*iphone 6 plus screen */
@media screen and (max-width: 420px)
{
    .profilePic{
        background-size: 375px;
        height: 525px;
        background-position-y: 102.5px;
    }
    .resumebox
    {
        
        margin-top: 50px;
        height: 620px;
        width: 100%;
    }
    .resumebox div
    {
        position: relative;
        top: 225px;
        text-align: center;
    }
    .fas
    {
        font-size: 130px;
    }
    .resumebox div a
    {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 1.625rem;
        text-decoration:none;
        color:white;
    }
}
/*iphone 6 screen */
@media screen and (max-width: 375px)
{
    .profilePic{
        background-size: 350px;
        height: 500px;
        background-position-y: 102.5px;
    }
    .resumebox
    {
        margin-top: 50px;
        height: 550px;
        width: 100%;
    }
    .resumebox div
    {
        position: relative;
        top: 175px;
        text-align: center;
    }
}
/*S6 screen */
@media screen and (max-width: 365px)
{
    .profilePic{
        background-size: 325px;
        height: 575px;
        background-position-y: 175px;
    }
    .resumebox
    {
        margin-top: 50px;
        height: 625px;
        width: 100%;
    }
    .resumebox div
    {
        position: relative;
        top: 225px;
        text-align: center;
    }
}
